.columnGrid {
	padding: 30px;
}
.contentgrid {
	padding: 30px;
}
.columnLeft {
	background: #0000007d;
	border-radius: 10px;
	min-height: 320px;
}
.columnRight {
	min-height: 320px;
	padding-left: 20px;
}
.blockContainer {
	padding: 30px;
	border: 1px solid red;
	min-height: 320px;
}
