.RatesOverview {
	padding: 20px;

	p {
		font-size: 18px;
		color: $color-white;
	}

	hr {
		border: 2px solid #e8e8e8;
		margin-top: 20px;
		margin-bottom: 20px;
		border-radius: 10px;
	}

	.Heading {
		font-size: 22px;
		color: $color-white;
		margin: 0;
	}

	.HeadingWrapper {
		display: flex;
		flex-wrap: wrap;
		gap: 10px;
		align-items: center;
		margin-bottom: 10px;
	}

	.StarsWrapper {
		display: flex;
	}

	.Star {
		display: block;
		width: 22px;
		height: 22px;
		margin: 0 3px;
		background: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23e3e3e3' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
		background-repeat: no-repeat;
		background-position: center;
		background-size: 100%;
		transition: 0.3s;
	}

	.StarChecked {
		display: block;
		width: 22px;
		height: 22px;
		margin: 0 3px;
		background: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23d8b11e' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
		background-repeat: no-repeat;
		background-position: center;
		background-size: 100%;
		transition: 0.3s;
	}

	.StarLine {
		display: flex;
		justify-content: space-around;
		align-items: center;
		gap: 10px;
		margin-bottom: 15px;
	}

	.StarLineLeft,
	.StarLineRight {
		display: flex;
		gap: 10px;
		color: $color-white;
	}

	.StarLineRight {
		font-weight: bold;
	}

	.Bar {
		height: 18px;
		border-radius: 10px;
	}

	.BarContainer {
		width: 80%;
		border-radius: 10px;
		height: 18px;
		background-color: #f1f1f1c2;
	}
}
