.ImageGallery {
	width: 100%;
}

.PlaceNameRate {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

.PlaceName {
	margin-top: 20px;
}

.PlaceControls {
	display: flex;
	flex-direction: row;
	line-height: 24px;
	width: 100%;
	justify-content: space-between;
}
