.header {
	// padding: 0.5rem 2.4rem;

	// @include resolution(tablet) {
	// 	padding: 1rem 0.5rem;
	// }

	// @include resolution(big-mobile) {
	// 	padding: 0.5rem;
	// }

	&__home {
		display: inline-flex;
		justify-content: flex-start;
		align-items: center;
		position: relative;
		flex-basis: 30%;
		text-align: center;
		text-decoration: none;

		@include resolution(tablet) {
			flex-basis: 15%;
			justify-content: center;
		}

		@include resolution(big-mobile) {
			flex-basis: 80%;
		}
	}
}

.lang {
	display: flex;
	justify-content: center;
	align-items: center;

	&__select {
		position: relative;
		display: block;
		width: 100%;
		padding: 10px 20px;
		font-size: 16px;
		border: 1px solid $color-silver;
		word-break: normal;
		border-radius: 10px;
		outline: none;
		appearance: none;
		cursor: pointer;

		&:after {
			content: '<>';
			font: 17px 'Consolas', monospace;
			color: $color-mine-shaft;
			transform: rotate(90deg);
			right: 11px;

			padding: 0 0 2px;
			border-bottom: 1px solid $color-silver;

			position: absolute;
			pointer-events: none;
		}

		option {
			font-family: inherit;
		}
	}
}
