@import '../../assets/scss/mixins';
@import '../../assets/scss/variables';

.header.header {
  font-size: 10px;
  padding: 1rem 2.4rem;
}

.header__link.link_home {
  display: inline-block;
  position: relative;
  flex-basis: 10%;
  padding: .25rem;
  border: 1px solid transparent;
  border-radius: .5rem;
  text-align: center;

  @include resolution(big-mobile) {
    flex-basis: 100%;
  }

  & .logo__img {
    position: relative;
    display: inline-block;
    width: 100%;
    height: auto;
    transform: translateZ(0);

    @include resolution(big-mobile) {
      width: 40%;
      padding: 1rem 0;
    }
  }

  &:hover {
    & .logo__img {
      box-shadow: 0 0 10px $color-black;
    }
  }
}

.header__container.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0;
  text-align: center;
  
  @include resolution(big-mobile) {
    flex-wrap: wrap;
  }
}

.header__toolbar_list {
  flex-basis: 90%;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap-reverse;

  @include resolution(big-mobile) {
    flex-basis: 100%;
    justify-content: space-between;
  }
}