.ExchangeRates {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 20px;
	padding-bottom: 25px;
	border-bottom: 1px solid;

	.ExchangeTitle {
		display: flex;
		align-items: center;
	}

	.CurrencyContainer {
		margin-top: 10px;
	}
}
