@import '~leaflet/dist/leaflet';
@import '~leaflet-fullscreen/dist/leaflet.fullscreen';
@import '~react-image-gallery/styles/scss/image-gallery.scss';
@import url('https://fonts.googleapis.com/css2?family=Englebert&display=swap');

body {
	margin: 0;
	font-family: 'Roboto', 'Arial,' sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}